*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* FONT SIZE */
  --font-size: clamp(1.4rem, 1dvw + 0.1rem, 2rem);

  /* DARK THEME */
  --dark-font-color: #ffffff;
  --dark-background-color: #202c36;
  --dark-header-bg-color: #2b3844;

  /* LIGHT THEME */
  --light-font-color: #111517;
  --light-background-color: #fefefe;
  --light-header-bg-color: #fff;

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: var(--dark-font-color);
    --background-color: var(--dark-background-color);
    --header-bg-color: var(--dark-header-bg-color);
  }

  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: var(--light-font-color);
    --background-color: var(--light-background-color);
    --header-bg-color: var(--light-header-bg-color);
  }

  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
}

[color-scheme="light"] {
  --font-color: var(--light-font-color);
  --background-color: var(--light-background-color);
  --header-bg-color: var(--light-header-bg-color);
}

[color-scheme="dark"] {
  --font-color: var(--dark-font-color);
  --background-color: var(--dark-background-color);
  --header-bg-color: var(--dark-header-bg-color);
}
