.main {
  max-width: 144rem;
  margin: 0 auto;
  background-color: #fafafa;

  .input_fields {
    margin-block: 4rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 3rem;
  }

  .countries_grid {
    display: grid;
    row-gap: 3.2rem;
  }
}

@media (min-width: 576px) {
  .countries_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .countries_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

@media (min-width: 992px) {
  .countries_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

@media (min-width: 1200px) {
  .countries_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}

@media (min-width: 1400px) {
  .countries_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}
